:root {
    --clr-neutral-700: #1a1919;
    --clr-neutral-500: #81818181;
    --clr-neutral-200: #a5a5a5;
    --clr-neutral-100: #fdfafa;
    --clr-green-500: #16a34a;
    --clr-red-500: #991b1b;
    
    --clr-primary-700: #172554;
    --clr-primary-500: #1e3a8a;
    --clr-primary-200: #1d4ed8;
    
    --fw-bold: 700;
    --fw-normal: 400;
    --fw-tinny: 300;
    --fs-900: 2.5rem;
    --fs-400: 1rem;
    --fs-300: .825rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul[role="list"], ol[role="list"] {
    list-style-type: none;
    padding: 0;
}

img[src$="svg"] {
    width: 30px;
    height: 50px;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template: minmax(100px, 1fr) 9fr / minmax(200px, 1fr) 9fr;
    grid-template-areas: 
        "aside header"
        "aside library";
}

.header {
    grid-area: header;
    background-color: var(--clr-primary-200, var(--clr-neutral-100));
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--fw-bold);
}

.prompt {
    position: absolute;
    left: 50vw;
    top: 10px;
    width: 300px;
    height: 150px;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: var(--fs-900);
    border-radius: 0.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.prompt-success {
    background-color: var(--clr-primary-700, var(--clr-neutral-200));
    opacity: 1;
}

.prompt-error {
    background-color: var(--clr-red-500, var(--clr-neutral-200));
    opacity: 1;
}

#addBook {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--clr-primary-200, var(--clr-neutral-500));
    color: var(--clr-primary-700, black);
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
}

#addBook:hover {
    background-color: var(--clr-primary-500, var(--clr-neutral-700));
}

#colorTheme, #read {
    visibility: hidden;
    width: 0;
    height: 0;
}

#labelTheme {
    width: 100px;
    height: 50px;
    background-color: var(--clr-neutral-500);
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.3s;
}

#labelTheme::after, #isReadLabel::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--clr-neutral-100);
    border-radius: 2.5rem;
    position: absolute;
    left: 5px;
    transition: 0.3s;
}   

#colorTheme:checked + #labelTheme::after, 
#read:checked + #isReadLabel::after {
    background-color: var(--clr-primary-700, var(--clr-neutral-700));
    transform: translateX(125%);
}   

.aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
    gap: 20px;
    background-color: var(--clr-primary-200);
    font-weight: var(--fw-bold);
}

#page-title {
    align-self: center;
    font-size: var(--fs-900);
    font-weight: var(--fw-bold);
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.library {
    grid-area: library;
    padding: 30px;
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 400px);
    gap: 30px;
}

.blackTheme {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-100);
}

.font-clr-100 {
    color: var(--clr-neutral-100);
}

.svg-invert {
    filter: invert(1);
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
    justify-content: space-between;
    max-height: 100%;
    position: relative;
}

.book-card:hover {
    transform: scale(1.1);
}

#templateCardBook {
    display: none;
}

.rm-book {
    position: absolute;
    left: 85%;
    top: 5px;
    border-radius: 50%;
    border: none;
    padding: 10px;
    width: 15px;
    height: 15px;
    display: flex;                                                                                                      
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral-500);
    transition: opacity 0.5s ease;
    opacity: 0;
}

.book-card:hover .rm-book {
    opacity: 1;
}


.book-front-page {
    width: 100%;
    height: 250px;
    max-height: 250px;
    background-color: var(--clr-primary-500, var(--clr-neutral-500));
    border-radius: 0.5rem;
    box-shadow: 10px 10px 20px -3px var(--clr-neutral-200);
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.book-front-page > img {
    max-height: 100%;
    border-radius: 0.5rem;
}

.book-title {
    font-size: var(--fw-normal);
    font-weight: var(--fw-bold);
}

.book-author {
    font-size: var(--fs-300);
    font-weight: var(--fw-tinny);
}

.book-options {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 0.4fr;
}

.book-options button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--clr-primary-200, var(--clr-neutral-200));
}



.book-options button:hover {
    background-color: var(--clr-primary-500, var(--clr-neutral-500));
}

#dialogBook[open] {
    min-width: 30vw;
    min-height: 100vh;
    position: absolute;
    left: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.dialogBook__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#borderClose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: var(--clr-primary-700, var(--clr-neutral-200));
    color: var(--clr-neutral-100);
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
}

.form-dialog {
    display: flex;
    flex-flow: column;
    gap: 50px;
}

.form-dialog > label {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    gap: 0px 30px;
}

#isReadLabel {
    width: 50px;
    height: 20px;
    background-color: var(--clr-neutral-500);
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.3s;
    bottom: 10px;
}

#isReadLabel::after {
    width: 20px;
    height: 20px;
    left: -3px;
}

#read:checked + #isReadLabel::after {
    background-color: var(--clr-green-500, var(--clr-neutral-700));
    transform: translateX(160%);
} 

.form-dialog__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-dialog__options > button {
    background-color: var(--clr-primary-700, var(--clr-neutral-200));
    color: var(--clr-neutral-100);
    padding: 25px;
    border: none;
    border-radius: 0.5rem;
}

.form-dialog input {
    padding: 0.5rem;
}

.form-dialog input:focus {
    outline: none;
}

input:required + span {
    position: relative;
}

input:required + span::after {
    content: "Required";
    position: absolute;
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-100);
    font-size: var(--fs-300);
    font-weight: var(--fw-tinny);
    padding: 10px;
    border-radius: 0.5rem;
    bottom: 4.5vh;
    left: 20vw;
}


input:required + span.span-error::after {
    background-color: var(--clr-red-500);
}
input:required + span.span-success::after {
    background-color: var(--clr-green-500) ;
}